#!/usr/bin/make -f

%:
	dh $@ --buildsystem=meson

override_dh_auto_configure:
	dh_auto_configure -- --libexecdir=libexec

override_dh_auto_build:
	dh_auto_build -- -j2

override_dh_compress:
	dh_compress -XREADME.md
